.App{
  text-align: center;
}

.IdCard {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  border: solid;
  margin-right: 46vw;
  
}

.profile{
  width: 200px;
  height: 200px;
}

.Greeting{
  border: solid;
  margin-right: 40vw;
  margin-left: 40vw;
}

.Random{
  border: solid;
  margin-right: 40vw;
  margin-left: 40vw;
}

.BoxColor{
  border: solid;
  margin-right: 40vw;
  margin-left: 40vw;
}